{% extends "auth_base.html" %}
{% block title %}Logged out{% endblock %}

{% block auth_content %}
<div class="success-message success-message-visible">
    <div class="success-icon success-icon-muted">&#128075;</div>
    <div class="login-header">
        <h2>Logged Out</h2>
        <p>You have been successfully logged out. We hope to see you again soon!</p>
    </div>
</div>

<div class="divider">
    <span>OR</span>
</div>

<div class="auth-center">
    <a href="{% url 'login' %}" class="btn login-btn auth-btn-link">
        <span class="btn-text">Log-in again</span>
    </a>
</div>

<div class="signup-link auth-link-spaced">
    <p>Need to go home? <a href="/">Return to Homepage</a></p>
</div>
{% endblock %}
