{% extends "auth_base.html" %}
{% block title %}Reset your password{% endblock %}

{% block auth_content %}
<div class="login-header">
    <h2>Forgotten Password?</h2>
    <p>I got you! Enter your email address to obtain a new password.</p>
</div>

<form method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
    {% include "includes/auth/form_field.html" with field=field %}
    {% endfor %}

    <button type="submit" class="btn login-btn">
        <span class="btn-text">Send e-mail</span>
        <div class="btn-loader"></div>
    </button>
</form>

<div class="signup-link">
    <p>Remembered it? <a href="{% url 'login' %}">Back to Login</a></p>
</div>
{% endblock %}
