{% extends "registration/reg_base.html" %}
{% block title %}Change your password{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        
        <div class="login-header">
            <h2>Change Password</h2>
            <p>Use the form below to change your password.</p>
        </div>

        <form method="post" novalidate>
            {% csrf_token %}
            
            {% for field in form %}
            <div class="form-group {% if field.errors %}error{% endif %}">
                <div class="input-wrapper">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <span class="focus-border"></span>
                </div>
                {% if field.errors %}
                <span class="error-message show">{{ field.errors.0 }}</span>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" class="btn login-btn">
                <span class="btn-text">Update Password</span>
            </button>
            
        </form>
    </div>
</div>
{% endblock %}





{% comment %} {% extends 'base.html' %}
{% block title %}Change your password{% endblock  %}
{% block content %}
    <h1>Change your password</h1>
    <p>Use the form below to change your password.</p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Change"></p>
    </form>
{% endblock  %} {% endcomment %}