{% extends "auth_base.html" %}

{% block title %}Create an account{% endblock %}

{% block auth_content %}
<div class="login-header">
    <h2>Create Account</h2>
    <p>Please, sign up using the following form</p>
</div>

<form method="post" novalidate>
    {% csrf_token %}
    {% for field in user_form %}
    {% include "includes/auth/form_field.html" with field=field show_help=True %}
    {% endfor %}

    <button type="submit" class="btn login-btn">
        <span class="btn-text">Create my account</span>
        <div class="btn-loader"></div>
    </button>
</form>

<div class="signup-link">
    <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
</div>
{% endblock %}
